$searchBack:  #434343;
$white: #fff;
$main: #CB5D6F;
$lightblue: #17a2b8;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-app {
    padding-top: 7%;
}

.background {
    min-height: 1400px;

    background-size: cover;
}

.poster-img {
    min-height:100vh;
    width: 450px;
}

.search-bar-section {
    background-color: $searchBack;
    height: 120px;
    .search-movie {
        margin-top: 40px;
    }
}

.logo-section {

.logo {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: $white;
    border: 2px solid $white;
}
.logo-sub {
    color: $main;
}
}

.middle-section {
    color: $white;
    .poster-section {
        margin-left: -27px;
    }
    .movie-info {
        margin-top: 70px;
    }
    .details {
        margin-top: 5px;
        border-radius: 3px;
        margin-bottom: 8px;
        .details-section {
            margin-top: 10px;
            .movie-title {
                color: $lightblue;
                font-size: 30px;
            }
            h3 {
              font-size: 25px;
            }
            .summary {
                color: $main;
                width: 75%;
            }
        }
    }
}

.hr-bar {
  border: 2px solid $white;
}

.video-detail {
  padding-bottom: 50px;
}
